.scan-box {
  border: 2px solid white;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 290px;

  &::after {
    border: 0.25px solid cyan;
    content: "";
    width: 285.5px;
    display: block;
    position: absolute;
    animation: animate 5s linear infinite;
  }
}

@keyframes animate {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}
