<ion-header [hidden]="scannerActive">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"> </ion-back-button>
    </ion-buttons>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [style.--background]="scannerActive ? '#00000000' : '#fff'"
>
  <ion-button expand="full" (click)="startScanner()" [hidden]="scannerActive">
    <ion-icon name="scan" slot="start"> </ion-icon>
    Start Scan
  </ion-button>

  <div>{{ result }}</div>

  <ion-row class="scanner-buttons" [hidden]="!scannerActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop Scan</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!scannerActive"></div>
</ion-content>
