<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"> </ion-back-button>
    </ion-buttons>
    <ion-title>Camera Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!cameraActive">
  <img [src]="base64PictureData | safeHtml" />

  <form [formGroup]="form">
    <ion-item>
      <ion-label> position </ion-label>
      <ion-select formControlName="position">
        <ion-select-option value="rear"> Rear </ion-select-option>
        <ion-select-option value="front"> Front </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> width </ion-label>
      <ion-input type="number" formControlName="width"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> height </ion-label>
      <ion-input type="number" formControlName="height"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> x </ion-label>
      <ion-input type="number" formControlName="x"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> y </ion-label>
      <ion-input type="number" formControlName="y"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> toBack (android & ios) </ion-label>
      <ion-toggle formControlName="toBack"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> paddingBottom </ion-label>
      <ion-input type="number" formControlName="paddingBottom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Store to file </ion-label>
      <ion-toggle formControlName="storeToFile"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Disable auto rotate (android & ios) </ion-label>
      <ion-toggle formControlName="disableExifHeaderStripping"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Disable audio (web) </ion-label>
      <ion-toggle formControlName="disableAudio"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Lock device rotate (android) </ion-label>
      <ion-toggle formControlName="lockAndroidOrientation"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Rotate when orientation changed (ios) </ion-label>
      <ion-toggle formControlName="rotateWhenOrientationChanged"></ion-toggle>
    </ion-item>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="start()">
      <ion-icon name="aperture-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content class="my-custom-camera-preview-content" *ngIf="cameraActive">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="stop()">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="capture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="flip()">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
