<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Plugins </ion-list-header>
    <ion-item
      *ngFor="let nav of navs"
      (click)="navCtrl.navigateForward(nav.path)"
    >
      <ion-icon slot="start" [name]="nav.icon"></ion-icon>
      {{ nav.name }}
    </ion-item>
  </ion-list>
</ion-content>
