<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"> </ion-back-button>
    </ion-buttons>
    <ion-title>Biometric</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="getBiometricAvailability()">
    Get Biometric Availability
  </ion-button>
  <ion-button expand="full" (click)="authenticate()">
    Authentication
  </ion-button>
</ion-content>
