<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"> </ion-back-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="imagePath | safeHtml" [hidden]="!imagePath" />
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Quality</ion-label>
      <ion-input type="number" formControlName="quality"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Allow Editing</ion-label>
      <ion-toggle formControlName="allowEditing"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Result Type</ion-label>
      <ion-select formControlName="resultType">
        <ion-select-option value="uri"> File_uri </ion-select-option>
        <ion-select-option value="base64"> Base64 </ion-select-option>
        <ion-select-option value="dataUrl"> Data_url </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Width</ion-label>
      <ion-input type="number" formControlName="width"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input type="number" formControlName="height"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Preserve Aspect Ratio</ion-label>
      <ion-toggle formControlName="preserveAspectRatio"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Correct Orientation</ion-label>
      <ion-toggle formControlName="correctOrientation"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Photo Source</ion-label>
      <ion-select formControlName="source">
        <ion-select-option value="CAMERA"> Camera </ion-select-option>
        <ion-select-option value="PHOTOS"> Photos </ion-select-option>
        <ion-select-option value="PROMPT"> Prompt </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Camera Direction</ion-label>
      <ion-select formControlName="direction">
        <ion-select-option value="REAR"> Rear </ion-select-option>
        <ion-select-option value="FRONT"> Front </ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="submit()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
